data:
 beam_reference: xyplane
 two_beams: true
 beam_token: true
 add_time_reference: true
 add_xzplane: false
 add_yzplane: false
 include_jet_data: false
 include_const_data: false
 global_jet_info: 4
 const_jet_info: 13
 reinsert_channels: false
 rescale_data: true
 scalar_features_preprocessing: # following weaver defaults
 - [1.7, 0.7] # log_pt
 - [2.0, 0.7] # log_energy
 - [-4.7, 0.7] # log_pt_rel
 - [-4.7, 0.7] # log_energy_rel
 - [0, 1] # dphi
 - [0, 1] # deta
 - [0.2, 4] # dr

train: true
training:
#  iterations: 200000
 iterations: 400000
 optimizer: Lion
 batchsize: 256
 lr: 3e-4
 validate_every_n_steps: 5000
 scheduler: CosineAnnealingLR


 force_xformers: true # 'false' runs on cpu and gpu, 'true' only runs on gpu but is much faster

evaluation:
 batchsize: 128
 save_roc: false
 eval_set: [test]

plotting:
 roc: true
 loss: true
 score: true

defaults:
 - model: gatr_tagging_large
 - default
